flows/crystal_laser_main_flow.json
{
  "name": "Crystal Laser — Fluxo Principal WhatsApp",
  "nodes": [

    {
      "id": "webhook-entrada",
      "name": "01 · Webhook Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "path": "crystal-laser-whatsapp",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "notes": "Recebe todas as mensagens das 5 instâncias da Evolution API. Configure o webhook URL em cada instância: https://SEU_N8N/webhook/crystal-laser-whatsapp"
    },

    {
      "id": "set-contexto-unidade",
      "name": "02 · Identificar Unidade e Injetar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "// Mapeamento de número de WhatsApp → contexto da unidade\nconst UNIDADES = {\n  '5566999990001': {\n    unidade_nome: 'Crystal Laser Sinop',\n    cidade: 'Sinop',\n    horario_semana: '08:00 às 19:00',\n    horario_sabado: '08:00 às 16:00',\n    horario_abertura_semana: 8,\n    horario_fechamento_semana: 19,\n    horario_abertura_sabado: 8,\n    horario_fechamento_sabado: 16,\n    google_calendar_id: 'SEU_CALENDAR_ID_SINOP@group.calendar.google.com',\n    numero_whatsapp: '5566999990001'\n  },\n  '5565999990002': {\n    unidade_nome: 'Crystal Laser Cuiabá',\n    cidade: 'Cuiabá',\n    horario_semana: '08:00 às 19:00',\n    horario_sabado: '08:00 às 18:00',\n    horario_abertura_semana: 8,\n    horario_fechamento_semana: 19,\n    horario_abertura_sabado: 8,\n    horario_fechamento_sabado: 18,\n    google_calendar_id: 'SEU_CALENDAR_ID_CUIABA@group.calendar.google.com',\n    numero_whatsapp: '5565999990002'\n  },\n  '5566999990003': {\n    unidade_nome: 'Crystal Laser Sorriso',\n    cidade: 'Sorriso',\n    horario_semana: '09:00 às 18:00',\n    horario_sabado: '09:00 às 13:00',\n    horario_abertura_semana: 9,\n    horario_fechamento_semana: 18,\n    horario_abertura_sabado: 9,\n    horario_fechamento_sabado: 13,\n    google_calendar_id: 'SEU_CALENDAR_ID_SORRISO@group.calendar.google.com',\n    numero_whatsapp: '5566999990003'\n  },\n  '5565999990004': {\n    unidade_nome: 'Crystal Laser Várzea Grande',\n    cidade: 'Várzea Grande',\n    horario_semana: '09:00 às 18:00',\n    horario_sabado: '08:00 às 14:00',\n    horario_abertura_semana: 9,\n    horario_fechamento_semana: 18,\n    horario_abertura_sabado: 8,\n    horario_fechamento_sabado: 14,\n    google_calendar_id: 'SEU_CALENDAR_ID_VARZEA@group.calendar.google.com',\n    numero_whatsapp: '5565999990004'\n  },\n  '5531999990005': {\n    unidade_nome: 'Crystal Laser Contagem',\n    cidade: 'Contagem',\n    horario_semana: '13:00 às 19:00',\n    horario_sabado: '09:00 às 14:00',\n    horario_abertura_semana: 13,\n    horario_fechamento_semana: 19,\n    horario_abertura_sabado: 9,\n    horario_fechamento_sabado: 14,\n    google_calendar_id: 'SEU_CALENDAR_ID_CONTAGEM@group.calendar.google.com',\n    numero_whatsapp: '5531999990005'\n  }\n};\n\nconst body = $input.first().json.body || $input.first().json;\n\n// Extrai dados da mensagem recebida (formato Evolution API)\nconst numeroReceptor = body.instance || body.to || '';\nconst numeroRemetente = body.data?.key?.remoteJid?.replace('@s.whatsapp.net', '') || '';\nconst mensagemTexto = body.data?.message?.conversation \n  || body.data?.message?.extendedTextMessage?.text \n  || '';\nconst messageId = body.data?.key?.id || '';\nconst timestamp = body.data?.messageTimestamp || Math.floor(Date.now() / 1000);\n\n// Identifica a unidade\nconst unidade = UNIDADES[numeroReceptor] || null;\n\nif (!unidade) {\n  throw new Error(`Número receptor não mapeado: ${numeroReceptor}`);\n}\n\nreturn [{\n  json: {\n    // Dados da mensagem\n    numero_remetente: numeroRemetente,\n    numero_receptor: numeroReceptor,\n    mensagem: mensagemTexto,\n    message_id: messageId,\n    timestamp,\n    // Contexto da unidade\n    ...unidade,\n    // Flag para próximas etapas\n    processado: false\n  }\n}];"
      },
      "notes": "CONFIGURE: substitua os números de WhatsApp e os google_calendar_id reais de cada unidade antes de ativar."
    },

    {
      "id": "verificar-horario",
      "name": "03 · Verificar Horário de Silêncio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "jsCode": "const dados = $input.first().json;\n\n// Timezone Brasil (UTC-4 ou UTC-3 dependendo da época)\n// Ajuste conforme necessário para cada unidade\nconst agora = new Date();\nconst horaBrasilia = new Date(agora.toLocaleString('en-US', { timeZone: 'America/Cuiaba' }));\nconst hora = horaBrasilia.getHours();\nconst diaSemana = horaBrasilia.getDay(); // 0=Dom, 1=Seg ... 6=Sáb\n\nlet dentroDoHorario = false;\nlet motivoFora = '';\n\nif (diaSemana === 0) {\n  // Domingo — sempre fora do horário\n  dentroDoHorario = false;\n  motivoFora = 'domingo';\n} else if (diaSemana === 6) {\n  // Sábado\n  const abre = dados.horario_abertura_sabado;\n  const fecha = dados.horario_fechamento_sabado;\n  dentroDoHorario = hora >= abre && hora < fecha;\n  motivoFora = `sábado — atendemos das ${abre}:00 às ${fecha}:00`;\n} else {\n  // Segunda a sexta\n  const abre = dados.horario_abertura_semana;\n  const fecha = dados.horario_fechamento_semana;\n  dentroDoHorario = hora >= abre && hora < fecha;\n  motivoFora = `atendemos de segunda a sexta das ${abre}:00 às ${fecha}:00`;\n}\n\nreturn [{\n  json: {\n    ...dados,\n    dentro_do_horario: dentroDoHorario,\n    motivo_fora_horario: motivoFora,\n    hora_atual: hora,\n    dia_semana: diaSemana\n  }\n}];"
      }
    },

    {
      "id": "if-horario",
      "name": "04 · Dentro do Horário?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "leftValue": "={{ $json.dentro_do_horario }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "equals" }
          }],
          "combinator": "and"
        }
      }
    },

    {
      "id": "msg-fora-horario",
      "name": "04b · Resposta Fora do Horário",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 480],
      "parameters": {
        "jsCode": "const dados = $input.first().json;\nconst nome = dados.nome_lead || '';\nconst saudacao = nome ? `Olá, ${nome}!` : 'Olá!';\n\nreturn [{\n  json: {\n    ...dados,\n    resposta_final: `${saudacao} Recebemos sua mensagem 💜\\n\\nNosso horário de atendimento é:\\n📅 Segunda a sexta: ${dados.horario_semana}\\n📅 Sábados: ${dados.horario_sabado}\\n\\nRetornaremos assim que abrirmos. Até lá!`,\n    tipo_resposta: 'FORA_HORARIO',\n    escalar: false\n  }\n}];"
      }
    },

    {
      "id": "buscar-historico",
      "name": "05 · Buscar Histórico do Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "parameters": {
        "jsCode": "// TODO: Integrar com sua base de dados ou memória de conversa\n// Por enquanto retorna estrutura base para o lead\n// Opções: Redis, Supabase, Postgres, ou arquivo JSON na VPS\n\nconst dados = $input.first().json;\n\n// Estrutura esperada do histórico\nconst historico = {\n  nome_lead: dados.nome_lead || '',\n  estagio_lead: 'NOVO', // NOVO | EM_QUALIFICACAO | COMBO_APRESENTADO | AGUARDANDO_FECHAMENTO | ENCERRADO\n  vitiligo_verificado: false,\n  area_interesse: '',\n  combo_apresentado: '',\n  forma_pagamento_escolhida: '',\n  historico_mensagens: [], // Array de {role: 'user'|'assistant', content: '...'}\n  agendamento: null,\n  flags: []\n};\n\nreturn [{\n  json: {\n    ...dados,\n    ...historico,\n    // A mensagem atual entra no histórico\n    historico_mensagens: [\n      ...historico.historico_mensagens,\n      { role: 'user', content: dados.mensagem }\n    ]\n  }\n}];"
      },
      "notes": "IMPLEMENTAR: conectar com banco de dados para persistir histórico real entre conversas. Redis é recomendado para velocidade."
    },

    {
      "id": "montar-prompt",
      "name": "06 · Montar System Prompt com Variáveis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "parameters": {
        "jsCode": "const dados = $input.first().json;\n\n// Lê o system prompt base (em produção, ler do arquivo ou variável de ambiente)\n// Por enquanto, o prompt é referenciado — substitua pelo conteúdo real do arquivo sdr_system_prompt.md\nlet systemPrompt = process.env.SDR_SYSTEM_PROMPT || 'SYSTEM_PROMPT_NAO_CONFIGURADO';\n\n// Injeta variáveis de contexto da unidade\nsystemPrompt = systemPrompt\n  .replaceAll('{{unidade_nome}}', dados.unidade_nome)\n  .replaceAll('{{cidade}}', dados.cidade)\n  .replaceAll('{{horario_semana}}', dados.horario_semana)\n  .replaceAll('{{horario_sabado}}', dados.horario_sabado)\n  .replaceAll('{{nome_lead}}', dados.nome_lead || '')\n  .replaceAll('{{estagio_lead}}', dados.estagio_lead || 'NOVO');\n\n// Monta o histórico de mensagens para a API do Claude\nconst messages = dados.historico_mensagens || [{ role: 'user', content: dados.mensagem }];\n\nreturn [{\n  json: {\n    ...dados,\n    system_prompt_final: systemPrompt,\n    messages_payload: messages\n  }\n}];\n"
      },
      "notes": "CONFIGURAR: adicione a variável de ambiente SDR_SYSTEM_PROMPT com o conteúdo do arquivo sdr_system_prompt.md no N8N (Settings > Variables)."
    },

    {
      "id": "chamar-claude",
      "name": "07 · Chamar Claude API (Sonnet 4.5)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5\",\n  \"max_tokens\": 1024,\n  \"system\": {{ $json.system_prompt_final | json }},\n  \"messages\": {{ $json.messages_payload | json }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "Anthropic API Key",
          "id": "CONFIGURAR_CREDENTIAL_ID"
        }
      },
      "notes": "CONFIGURAR: criar credencial 'HTTP Header Auth' no N8N com Name=x-api-key e Value=sua_chave_anthropic"
    },

    {
      "id": "processar-resposta",
      "name": "08 · Processar Resposta e Detectar Tags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300],
      "parameters": {
        "jsCode": "const dados = $input.first().json;\nconst claudeResponse = dados.content?.[0]?.text || '';\n\n// Detecta tags de controle emitidas pelo agente\nconst escalarHumano = claudeResponse.includes('[ESCALAR_HUMANO]');\nconst escalarMenor = claudeResponse.includes('[ESCALAR_MENOR]');\nconst encerrarVitiligo = claudeResponse.includes('[ENCERRAR_VITILIGO]');\nconst agendar = claudeResponse.includes('[AGENDAR]');\nconst followUp = claudeResponse.includes('[FOLLOW_UP]');\n\n// Remove tags da mensagem final antes de enviar para o lead\nconst respostaLimpa = claudeResponse\n  .replace(/\\[ESCALAR_HUMANO\\]/g, '')\n  .replace(/\\[ESCALAR_MENOR\\]/g, '')\n  .replace(/\\[ENCERRAR_VITILIGO\\]/g, '')\n  .replace(/\\[AGENDAR\\]/g, '')\n  .replace(/\\[FOLLOW_UP\\]/g, '')\n  .trim();\n\n// Determina ação principal\nlet acao_principal = 'CONTINUAR';\nif (escalarHumano) acao_principal = 'ESCALAR_HUMANO';\nelse if (escalarMenor) acao_principal = 'ESCALAR_MENOR';\nelse if (encerrarVitiligo) acao_principal = 'ENCERRAR_VITILIGO';\nelse if (agendar) acao_principal = 'AGENDAR';\nelse if (followUp) acao_principal = 'FOLLOW_UP';\n\nreturn [{\n  json: {\n    numero_remetente: dados.numero_remetente,\n    numero_receptor: dados.numero_receptor,\n    unidade_nome: dados.unidade_nome,\n    google_calendar_id: dados.google_calendar_id,\n    nome_lead: dados.nome_lead,\n    resposta_final: respostaLimpa,\n    acao_principal,\n    tags: { escalarHumano, escalarMenor, encerrarVitiligo, agendar, followUp },\n    historico_mensagens_atualizado: [\n      ...(dados.historico_mensagens || []),\n      { role: 'assistant', content: respostaLimpa }\n    ]\n  }\n}];"
      }
    },

    {
      "id": "router-acao",
      "name": "09 · Router de Ação",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [2000, 300],
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.acao_principal }}",
        "rules": {
          "rules": [
            { "value": "CONTINUAR", "output": 0 },
            { "value": "ESCALAR_HUMANO", "output": 1 },
            { "value": "ESCALAR_MENOR", "output": 2 },
            { "value": "ENCERRAR_VITILIGO", "output": 3 },
            { "value": "AGENDAR", "output": 4 },
            { "value": "FOLLOW_UP", "output": 5 }
          ]
        }
      }
    },

    {
      "id": "enviar-whatsapp",
      "name": "10a · Enviar Mensagem WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2220, 160],
      "parameters": {
        "method": "POST",
        "url": "=http://SEU_EVOLUTION_API:8080/message/sendText/{{ $json.numero_receptor }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "SUA_EVOLUTION_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.numero_remetente }}\",\n  \"text\": {{ $json.resposta_final | json }},\n  \"delay\": 1200\n}"
      },
      "notes": "CONFIGURAR: URL da sua Evolution API + chave de API"
    },

    {
      "id": "notificar-humano",
      "name": "10b · Notificar Humano (Escalar)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300],
      "parameters": {
        "jsCode": "const dados = $input.first().json;\n\n// TODO: implementar notificação para o humano\n// Opções: enviar mensagem para grupo interno do WhatsApp,\n// criar tarefa no sistema de gestão, enviar e-mail, etc.\n\nconsole.log(`[ESCALAR] Lead: ${dados.numero_remetente} | Unidade: ${dados.unidade_nome} | Motivo: ${dados.acao_principal}`);\n\nreturn [{\n  json: {\n    ...dados,\n    notificacao_enviada: true,\n    canal_notificacao: 'PENDENTE_IMPLEMENTACAO'\n  }\n}];"
      },
      "notes": "IMPLEMENTAR: conectar ao canal de notificação da equipe (WhatsApp interno, Slack, e-mail, etc.)"
    },

    {
      "id": "criar-agendamento",
      "name": "10d · Criar Evento Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [2220, 500],
      "parameters": {
        "operation": "create",
        "calendar": "={{ $json.google_calendar_id }}",
        "start": "={{ $json.data_agendamento }}",
        "end": "={{ $json.data_agendamento_fim }}",
        "additionalFields": {
          "summary": "=Sessão Crystal Laser — {{ $json.nome_lead }}",
          "description": "=Lead: {{ $json.nome_lead }}\\nWhatsApp: {{ $json.numero_remetente }}\\nÁrea: {{ $json.area_interesse }}\\nStatus: PENDENTE_PAGAMENTO",
          "colorId": "5"
        }
      },
      "notes": "CONFIGURAR: autenticar Google Calendar no N8N com a conta da unidade"
    },

    {
      "id": "agendar-followup",
      "name": "10e · Agendar Follow Up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 620],
      "parameters": {
        "jsCode": "const dados = $input.first().json;\n\n// Calcula próxima tentativa de follow-up (24h)\nconst proxima = new Date();\nproxima.setHours(proxima.getHours() + 24);\n\n// TODO: salvar na base de dados para o workflow de follow-up separado\nconsole.log(`[FOLLOW_UP] Agendado para: ${proxima.toISOString()} | Lead: ${dados.numero_remetente}`);\n\nreturn [{\n  json: {\n    ...dados,\n    follow_up_agendado_para: proxima.toISOString()\n  }\n}];"
      }
    },

    {
      "id": "salvar-historico",
      "name": "11 · Salvar Histórico Atualizado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 300],
      "parameters": {
        "jsCode": "const dados = $input.first().json;\n\n// TODO: persistir o histórico atualizado no banco de dados\n// A chave deve ser o número do remetente + unidade\nconst chave = `${dados.numero_remetente}_${dados.numero_receptor}`;\n\nconsole.log(`[HISTÓRICO] Salvando para chave: ${chave} | Mensagens: ${dados.historico_mensagens_atualizado?.length || 0}`);\n\n// Estrutura a ser salva:\n// {\n//   chave,\n//   nome_lead: dados.nome_lead,\n//   estagio_lead: dados.estagio_lead,\n//   historico_mensagens: dados.historico_mensagens_atualizado,\n//   ultima_atualizacao: new Date().toISOString()\n// }\n\nreturn [{ json: { sucesso: true, chave } }];"
      },
      "notes": "IMPLEMENTAR: conectar ao banco de dados (Redis/Postgres/Supabase) para persistir histórico"
    },

    {
      "id": "webhook-resposta",
      "name": "12 · Resposta ao Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2660, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }"
      }
    }

  ],

  "connections": {
    "01 · Webhook Evolution API": {
      "main": [[ { "node": "02 · Identificar Unidade e Injetar Contexto", "type": "main", "index": 0 } ]]
    },
    "02 · Identificar Unidade e Injetar Contexto": {
      "main": [[ { "node": "03 · Verificar Horário de Silêncio", "type": "main", "index": 0 } ]]
    },
    "03 · Verificar Horário de Silêncio": {
      "main": [[ { "node": "04 · Dentro do Horário?", "type": "main", "index": 0 } ]]
    },
    "04 · Dentro do Horário?": {
      "main": [
        [ { "node": "05 · Buscar Histórico do Lead", "type": "main", "index": 0 } ],
        [ { "node": "04b · Resposta Fora do Horário", "type": "main", "index": 0 } ]
      ]
    },
    "04b · Resposta Fora do Horário": {
      "main": [[ { "node": "10a · Enviar Mensagem WhatsApp", "type": "main", "index": 0 } ]]
    },
    "05 · Buscar Histórico do Lead": {
      "main": [[ { "node": "06 · Montar System Prompt com Variáveis", "type": "main", "index": 0 } ]]
    },
    "06 · Montar System Prompt com Variáveis": {
      "main": [[ { "node": "07 · Chamar Claude API (Sonnet 4.5)", "type": "main", "index": 0 } ]]
    },
    "07 · Chamar Claude API (Sonnet 4.5)": {
      "main": [[ { "node": "08 · Processar Resposta e Detectar Tags", "type": "main", "index": 0 } ]]
    },
    "08 · Processar Resposta e Detectar Tags": {
      "main": [[ { "node": "09 · Router de Ação", "type": "main", "index": 0 } ]]
    },
    "09 · Router de Ação": {
      "main": [
        [ { "node": "10a · Enviar Mensagem WhatsApp", "type": "main", "index": 0 } ],
        [ { "node": "10b · Notificar Humano (Escalar)", "type": "main", "index": 0 } ],
        [ { "node": "10b · Notificar Humano (Escalar)", "type": "main", "index": 0 } ],
        [ { "node": "10a · Enviar Mensagem WhatsApp", "type": "main", "index": 0 } ],
        [ { "node": "10d · Criar Evento Google Calendar", "type": "main", "index": 0 } ],
        [ { "node": "10e · Agendar Follow Up", "type": "main", "index": 0 } ]
      ]
    },
    "10a · Enviar Mensagem WhatsApp": {
      "main": [[ { "node": "11 · Salvar Histórico Atualizado", "type": "main", "index": 0 } ]]
    },
    "10b · Notificar Humano (Escalar)": {
      "main": [[ { "node": "10a · Enviar Mensagem WhatsApp", "type": "main", "index": 0 } ]]
    },
    "10d · Criar Evento Google Calendar": {
      "main": [[ { "node": "10a · Enviar Mensagem WhatsApp", "type": "main", "index": 0 } ]]
    },
    "10e · Agendar Follow Up": {
      "main": [[ { "node": "11 · Salvar Histórico Atualizado", "type": "main", "index": 0 } ]]
    },
    "11 · Salvar Histórico Atualizado": {
      "main": [[ { "node": "12 · Resposta ao Webhook", "type": "main", "index": 0 } ]]
    }
  },

  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },

  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "crystal-laser-main-flow-v1"
  },

  "_comentarios_configuracao": {
    "PASSO_1": "Importe este JSON no N8N via Settings > Import workflow",
    "PASSO_2": "No nó 02, substitua os números de WhatsApp pelos números reais de cada unidade",
    "PASSO_3": "No nó 02, substitua os google_calendar_id pelos IDs reais de cada unidade",
    "PASSO_4": "Crie a credencial 'HTTP Header Auth' com x-api-key = sua chave da Anthropic",
    "PASSO_5": "Configure a variável de ambiente SDR_SYSTEM_PROMPT no N8N com o conteúdo do sdr_system_prompt.md",
    "PASSO_6": "No nó 10a, substitua a URL da Evolution API e a chave de API",
    "PASSO_7": "Configure a autenticação do Google Calendar no nó 10d",
    "PASSO_8": "Implemente o banco de dados de histórico nos nós 05 e 11 (Redis recomendado)",
    "PASSO_9": "Implemente a notificação para humano no nó 10b",
    "PASSO_10": "Ative o webhook e configure a URL no painel da Evolution API de cada unidade"
  }
}
