flows/Crystal Laser Fluxo Principal.json
{
  "name": "Crystal Laser — Fluxo Principal WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crystal-laser-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c90f3a0c-6393-4889-8645-05f377195af2",
      "name": "01 · Webhook Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-2208, 128],
      "webhookId": "37d8f326-f1c1-42e0-8475-85a38cabe14c",
      "notes": "Webhook URL: https://n8n.vps.iaraautomacoes.com.br/webhook/crystal-laser-whatsapp — configurar nas 5 instâncias da Evolution API"
    },
    {
      "parameters": {
        "jsCode": "const UNIDADES = {\n  '556699884352': {\n    unidade_nome: 'Crystal Laser Sinop',\n    cidade: 'Sinop',\n    horario_semana: '08:00 às 19:00',\n    horario_sabado: '08:00 às 16:00',\n    horario_abertura_semana: 8,\n    horario_fechamento_semana: 19,\n    horario_abertura_sabado: 8,\n    horario_fechamento_sabado: 16,\n    google_calendar_id: 'crystallaser.sinop@gmail.com',\n    numero_whatsapp: '556699884352',\n    numero_notificacao: '555196233390'\n  },\n  '556584040024': {\n    unidade_nome: 'Crystal Laser Cuiabá',\n    cidade: 'Cuiabá',\n    horario_semana: '08:00 às 19:00',\n    horario_sabado: '08:00 às 18:00',\n    horario_abertura_semana: 8,\n    horario_fechamento_semana: 19,\n    horario_abertura_sabado: 8,\n    horario_fechamento_sabado: 18,\n    google_calendar_id: 'laserdreamcuiaba@gmail.com',\n    numero_whatsapp: '556584040024',\n    numero_notificacao: '555196233390'\n  },\n  '556699220642': {\n    unidade_nome: 'Crystal Laser Sorriso',\n    cidade: 'Sorriso',\n    horario_semana: '09:00 às 18:00',\n    horario_sabado: '09:00 às 13:00',\n    horario_abertura_semana: 9,\n    horario_fechamento_semana: 18,\n    horario_abertura_sabado: 9,\n    horario_fechamento_sabado: 13,\n    google_calendar_id: 'crystallaser.sorriso@gmail.com',\n    numero_whatsapp: '556699220642',\n    numero_notificacao: '555196233390'\n  },\n  '556598011102': {\n    unidade_nome: 'Crystal Laser Várzea Grande',\n    cidade: 'Várzea Grande',\n    horario_semana: '09:00 às 18:00',\n    horario_sabado: '08:00 às 14:00',\n    horario_abertura_semana: 9,\n    horario_fechamento_semana: 18,\n    horario_abertura_sabado: 8,\n    horario_fechamento_sabado: 14,\n    google_calendar_id: 'crystallaser.vg@gmail.com',\n    numero_whatsapp: '556598011102',\n    numero_notificacao: '555196233390'\n  },\n  '553171556818': {\n    unidade_nome: 'Crystal Laser Contagem',\n    cidade: 'Contagem',\n    horario_semana: '13:00 às 19:00',\n    horario_sabado: '09:00 às 14:00',\n    horario_abertura_semana: 13,\n    horario_fechamento_semana: 19,\n    horario_abertura_sabado: 9,\n    horario_fechamento_sabado: 14,\n    google_calendar_id: 'crystallaser.contagem@gmail.com',\n    numero_whatsapp: '553171556818',\n    numero_notificacao: '555196233390'\n  }\n};\n\nconst body = $input.first().json.body || $input.first().json;\nconst numeroReceptor = body.instance || body.to || '';\nconst numeroRemetente = body.data?.key?.remoteJid?.replace('@s.whatsapp.net', '') || '';\nconst mensagemTexto = body.data?.message?.conversation\n  || body.data?.message?.extendedTextMessage?.text\n  || '';\nconst messageId = body.data?.key?.id || '';\nconst timestamp = body.data?.messageTimestamp || Math.floor(Date.now() / 1000);\n\nconst unidade = UNIDADES[numeroReceptor] || null;\nif (!unidade) {\n  throw new Error(`Número receptor não mapeado: ${numeroReceptor}`);\n}\n\nreturn [{\n  json: {\n    numero_remetente: numeroRemetente,\n    numero_receptor: numeroReceptor,\n    mensagem: mensagemTexto,\n    message_id: messageId,\n    timestamp,\n    ...unidade,\n    processado: false\n  }\n}];"
      },
      "id": "73263176-3af6-4bc7-86de-970de7cedf2a",
      "name": "02 · Identificar Unidade e Injetar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-2000, 128],
      "notes": "CONFIGURAR: substitua os google_calendar_id pelos IDs reais após pegar nas contas Google de cada unidade"
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\nconst agora = new Date();\nconst horaBrasilia = new Date(agora.toLocaleString('en-US', { timeZone: 'America/Cuiaba' }));\nconst hora = horaBrasilia.getHours();\nconst diaSemana = horaBrasilia.getDay();\n\nlet dentroDoHorario = false;\nlet motivoFora = '';\n\nif (diaSemana === 0) {\n  dentroDoHorario = false;\n  motivoFora = 'domingo';\n} else if (diaSemana === 6) {\n  const abre = dados.horario_abertura_sabado;\n  const fecha = dados.horario_fechamento_sabado;\n  dentroDoHorario = hora >= abre && hora < fecha;\n  motivoFora = `sábado — atendemos das ${abre}:00 às ${fecha}:00`;\n} else {\n  const abre = dados.horario_abertura_semana;\n  const fecha = dados.horario_fechamento_semana;\n  dentroDoHorario = hora >= abre && hora < fecha;\n  motivoFora = `atendemos de segunda a sexta das ${abre}:00 às ${fecha}:00`;\n}\n\nreturn [{\n  json: {\n    ...dados,\n    dentro_do_horario: dentroDoHorario,\n    motivo_fora_horario: motivoFora,\n    hora_atual: hora,\n    dia_semana: diaSemana\n  }\n}];"
      },
      "id": "5aa62ff9-f285-4385-822e-d672c7b23e28",
      "name": "03 · Verificar Horário de Silêncio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1792, 128]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [{
            "leftValue": "={{ $json.dentro_do_horario }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "equals" },
            "id": "d87d05f7-3e88-46ef-be21-f40952d70e04"
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b3495b2b-6306-4356-9612-2096f8a086b9",
      "name": "04 · Dentro do Horário?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-1584, 128]
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\nconst nome = dados.nome_lead || '';\nconst saudacao = nome ? `Olá, ${nome}!` : 'Olá!';\n\nreturn [{\n  json: {\n    ...dados,\n    resposta_final: `${saudacao} Recebemos sua mensagem 💜\\n\\nNosso horário de atendimento é:\\n📅 Segunda a sexta: ${dados.horario_semana}\\n📅 Sábados: ${dados.horario_sabado}\\n\\nRetornaremos assim que abrirmos. Até lá!`,\n    notificacao_montada: false,\n    mensagem_notificacao: '',\n    tipo_resposta: 'FORA_HORARIO'\n  }\n}];"
      },
      "id": "e7a20c7a-3f5b-4b0c-b13d-eb129bb2ef6e",
      "name": "04b · Resposta Fora do Horário",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1584, 380]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=cl_hist_{{$json.numero_remetente}}_{{$json.numero_receptor}}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-1376, 128],
      "id": "e1a0f7e6-f792-4206-9aaf-5cc179e20625",
      "name": "05a - Redis",
      "credentials": {
        "redis": { "id": "Hc47g0NYXnAvWj92", "name": "Redis account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\nconst valorRedis = dados.value || null;\nlet historico;\n\nif (valorRedis) {\n  try { historico = JSON.parse(valorRedis); }\n  catch (e) { historico = null; }\n}\n\nif (!historico) {\n  historico = {\n    nome_lead: '',\n    estagio_lead: 'NOVO',\n    vitiligo_verificado: false,\n    area_interesse: '',\n    combo_apresentado: '',\n    forma_pagamento_escolhida: '',\n    historico_mensagens: [],\n    flags: [],\n    criado_em: new Date().toISOString()\n  };\n}\n\nconst msgs = historico.historico_mensagens || [];\nconst historicoLimitado = msgs.length > 20 ? [...msgs.slice(0, 2), ...msgs.slice(-18)] : msgs;\n\nconst historicoComMensagemAtual = [\n  ...historicoLimitado,\n  { role: 'user', content: dados.mensagem, timestamp: new Date().toISOString() }\n];\n\nreturn [{\n  json: {\n    numero_remetente: dados.numero_remetente,\n    numero_receptor: dados.numero_receptor,\n    mensagem: dados.mensagem,\n    message_id: dados.message_id,\n    unidade_nome: dados.unidade_nome,\n    cidade: dados.cidade,\n    horario_semana: dados.horario_semana,\n    horario_sabado: dados.horario_sabado,\n    horario_abertura_semana: dados.horario_abertura_semana,\n    horario_fechamento_semana: dados.horario_fechamento_semana,\n    horario_abertura_sabado: dados.horario_abertura_sabado,\n    horario_fechamento_sabado: dados.horario_fechamento_sabado,\n    google_calendar_id: dados.google_calendar_id,\n    numero_notificacao: dados.numero_notificacao,\n    nome_lead: historico.nome_lead || '',\n    estagio_lead: historico.estagio_lead || 'NOVO',\n    vitiligo_verificado: historico.vitiligo_verificado || false,\n    area_interesse: historico.area_interesse || '',\n    combo_apresentado: historico.combo_apresentado || '',\n    forma_pagamento_escolhida: historico.forma_pagamento_escolhida || '',\n    flags: historico.flags || [],\n    historico_mensagens: historicoComMensagemAtual,\n    redis_chave: `cl_hist_${dados.numero_remetente}_${dados.numero_receptor}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1168, 128],
      "id": "5240efae-ceb7-4243-8ca9-6dc781208401",
      "name": "05b - Processar resultado do Redis"
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\nconst fs = require('fs');\nlet systemPrompt = fs.readFileSync(\n  '/home/iara/clients/Crystal-Laser/agents/sdr_system_prompt.md',\n  'utf8'\n);\n\nsystemPrompt = systemPrompt\n  .replaceAll('{{unidade_nome}}', dados.unidade_nome)\n  .replaceAll('{{cidade}}', dados.cidade)\n  .replaceAll('{{horario_semana}}', dados.horario_semana)\n  .replaceAll('{{horario_sabado}}', dados.horario_sabado)\n  .replaceAll('{{nome_lead}}', dados.nome_lead || '')\n  .replaceAll('{{estagio_lead}}', dados.estagio_lead || 'NOVO');\n\nconst messages = dados.historico_mensagens || [{ role: 'user', content: dados.mensagem }];\n\nreturn [{\n  json: {\n    ...dados,\n    system_prompt_final: systemPrompt,\n    messages_payload: messages\n  }\n}];"
      },
      "id": "703dea87-d1ca-4e66-97ed-0ef147607bb5",
      "name": "06 · Montar System Prompt com Variáveis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-960, 128]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5\",\n  \"max_tokens\": 1024,\n  \"system\": {{ $json.system_prompt_final | json }},\n  \"messages\": {{ $json.messages_payload | json }}\n}",
        "options": { "timeout": 30000 }
      },
      "id": "d4a81361-b619-441a-878b-2ae06cd4470f",
      "name": "07 · Chamar Claude API (Sonnet 4.5)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-752, 128],
      "notes": "CONFIGURAR: criar credencial 'HTTP Header Auth' com Name=x-api-key e Value=chave_anthropic_do_cliente"
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\nconst claudeResponse = dados.content?.[0]?.text || '';\n\nconst escalarHumano = claudeResponse.includes('[ESCALAR_HUMANO]');\nconst escalarMenor = claudeResponse.includes('[ESCALAR_MENOR]');\nconst encerrarVitiligo = claudeResponse.includes('[ENCERRAR_VITILIGO]');\nconst agendar = claudeResponse.includes('[AGENDAR]');\nconst followUp = claudeResponse.includes('[FOLLOW_UP]');\n\nconst respostaLimpa = claudeResponse\n  .replace(/\\[ESCALAR_HUMANO\\]/g, '')\n  .replace(/\\[ESCALAR_MENOR\\]/g, '')\n  .replace(/\\[ENCERRAR_VITILIGO\\]/g, '')\n  .replace(/\\[AGENDAR\\]/g, '')\n  .replace(/\\[FOLLOW_UP\\]/g, '')\n  .trim();\n\nlet acao_principal = 'CONTINUAR';\nif (escalarHumano) acao_principal = 'ESCALAR_HUMANO';\nelse if (escalarMenor) acao_principal = 'ESCALAR_MENOR';\nelse if (encerrarVitiligo) acao_principal = 'ENCERRAR_VITILIGO';\nelse if (agendar) acao_principal = 'AGENDAR';\nelse if (followUp) acao_principal = 'FOLLOW_UP';\n\nreturn [{\n  json: {\n    numero_remetente: dados.numero_remetente,\n    numero_receptor: dados.numero_receptor,\n    unidade_nome: dados.unidade_nome,\n    cidade: dados.cidade,\n    google_calendar_id: dados.google_calendar_id,\n    numero_notificacao: dados.numero_notificacao,\n    nome_lead: dados.nome_lead,\n    estagio_lead: dados.estagio_lead,\n    area_interesse: dados.area_interesse,\n    mensagem: dados.mensagem,\n    redis_chave: dados.redis_chave,\n    resposta_final: respostaLimpa,\n    acao_principal,\n    notificacao_montada: false,\n    mensagem_notificacao: '',\n    historico_mensagens: dados.historico_mensagens,\n    historico_mensagens_atualizado: [\n      ...(dados.historico_mensagens || []),\n      { role: 'assistant', content: respostaLimpa }\n    ]\n  }\n}];"
      },
      "id": "aa9c1e1c-681a-478e-bf85-a94bc8fdce66",
      "name": "08 · Processar Resposta e Detectar Tags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-544, 128]
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.acao_principal }}",
        "rules": {
          "rules": [
            { "value": "CONTINUAR", "output": 0 },
            { "value": "ESCALAR_HUMANO", "output": 1 },
            { "value": "ESCALAR_MENOR", "output": 1 },
            { "value": "ENCERRAR_VITILIGO", "output": 0 },
            { "value": "AGENDAR", "output": 2 },
            { "value": "FOLLOW_UP", "output": 0 }
          ]
        }
      },
      "id": "4eac8fb9-b00e-4daf-ace9-0193e5e37cf6",
      "name": "09 · Router de Ação",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-336, 128],
      "notes": "Saída 0: CONTINUAR/ENCERRAR/FOLLOW_UP → 10a direto | Saída 1: ESCALAR → 10 Notificar → 10a | Saída 2: AGENDAR → 10d Calendar → 10a"
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\n\nconst motivos = {\n  'ESCALAR_HUMANO': '⚠️ FECHAMENTO / CANCELAMENTO / RECLAMAÇÃO',\n  'ESCALAR_MENOR': '👧 PROTOCOLO MENOR DE IDADE (filha ≤ 14 anos)'\n};\n\nconst motivo = motivos[dados.acao_principal] || '⚠️ ESCALONAMENTO';\n\nconst mensagem =\n`🔔 *CRYSTAL LASER ${dados.unidade_nome.toUpperCase()}*\n${motivo}\n\n👤 *Lead:* ${dados.nome_lead || 'Não identificado'}\n📱 *WhatsApp:* ${dados.numero_remetente}\n🎯 *Área de interesse:* ${dados.area_interesse || 'Não informada'}\n📋 *Estágio:* ${dados.estagio_lead || 'NOVO'}\n\n💬 *Última mensagem do lead:*\n\"${dados.mensagem}\"\n\n👆 Entre em contato agora para dar continuidade ao atendimento.`;\n\nreturn [{\n  json: {\n    ...dados,\n    notificacao_montada: true,\n    mensagem_notificacao: mensagem\n  }\n}];"
      },
      "id": "f393f757-e14f-4b30-9b29-c7e8ea1a5c42",
      "name": "10 · Notificar Humano (Escalar)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-336, 320]
    },
    {
      "parameters": {
        "calendar": "={{ $json.google_calendar_id }}",
        "start": "={{ $json.data_agendamento }}",
        "end": "={{ $json.data_agendamento_fim }}",
        "additionalFields": {
          "summary": "=Sessão Crystal Laser — {{ $json.nome_lead }}",
          "description": "=Lead: {{ $json.nome_lead }}\\nWhatsApp: {{ $json.numero_remetente }}\\nÁrea: {{ $json.area_interesse }}\\nStatus: PENDENTE_PAGAMENTO"
        }
      },
      "id": "cc16d9c7-8dea-4479-875d-b3d0eacde8b3",
      "name": "10d · Criar Evento Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [-336, 500],
      "notes": "CONFIGURAR: autenticar Google Calendar no N8N com OAuth2 das contas de cada unidade. Aguardando Calendar IDs reais."
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\n\nconst INSTANCIAS = {\n  '556699884352': 'crystal-sinop',\n  '556584040024': 'crystal-cuiaba',\n  '556699220642': 'crystal-sorriso',\n  '556598011102': 'crystal-varzea',\n  '553171556818': 'crystal-contagem'\n};\n\nconst instancia = INSTANCIAS[dados.numero_receptor] || 'crystal-sinop';\n\nreturn [{\n  json: {\n    ...dados,\n    evolution_instancia: instancia,\n    evolution_url: `http://31.97.93.103:8080/message/sendText/${instancia}`,\n    evolution_apikey: 'iara-evo-key-2026'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-80, 128],
      "id": "c7080e5f-ef66-4571-946c-3d58b9456d31",
      "name": "10a · Instância por unidade",
      "notes": "Recebe conexões de: 09 Router (saída 0), 10 Notificar, 10d Calendar, 04b Fora do Horário"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [{
            "leftValue": "={{ $json.notificacao_montada }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "equals" },
            "id": "aaa11111-0000-0000-0000-000000000001"
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bb22222-0000-0000-0000-000000000002",
      "name": "10b · Tem notificação?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [128, 128],
      "notes": "Se notificacao_montada=true → envia HTTP para humano. Se false → pula direto para 10c."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=={{ $json.evolution_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "=={{ $json.evolution_apikey }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.numero_notificacao }}\",\n  \"text\": \"{{ $json.mensagem_notificacao }}\",\n  \"delay\": 500\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [336, 48],
      "id": "91536344-0071-457a-a559-d0cfbc2f7362",
      "name": "10b - HTTP Notificação Humano",
      "notes": "Envia mensagem de alerta para o número interno da unidade (555196233390)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=={{ $json.evolution_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "=={{ $json.evolution_apikey }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.numero_remetente }}\",\n  \"text\": \"{{ $json.resposta_final }}\",\n  \"delay\": 1200\n}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [544, 128],
      "id": "56c90545-c809-47ac-9a99-adbceaeca0fc",
      "name": "10c · Enviar Mensagem WhatsApp",
      "notes": "Envia a resposta do agente para o lead"
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\n\nconst historicoParaSalvar = {\n  nome_lead: dados.nome_lead || '',\n  estagio_lead: dados.estagio_lead || 'NOVO',\n  vitiligo_verificado: dados.vitiligo_verificado || false,\n  area_interesse: dados.area_interesse || '',\n  combo_apresentado: dados.combo_apresentado || '',\n  forma_pagamento_escolhida: dados.forma_pagamento_escolhida || '',\n  flags: dados.flags || [],\n  numero_notificacao: dados.numero_notificacao || '',\n  historico_mensagens: dados.historico_mensagens_atualizado || [],\n  atualizado_em: new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    redis_chave: dados.redis_chave,\n    redis_valor: JSON.stringify(historicoParaSalvar),\n    redis_ttl: 2592000,\n    sucesso: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [752, 128],
      "id": "8ee26092-17fd-40f4-8860-2986722e5e89",
      "name": "11 - Preparar dados para salvar no Redis"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=={{ $json.redis_chave }}",
        "value": "=={{ $json.redis_valor }}",
        "keyType": "string",
        "expire": true,
        "ttl": 2592000
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [960, 128],
      "id": "9c449968-7ef4-4ecd-a5c1-5408227530e3",
      "name": "11a - Redis",
      "credentials": {
        "redis": { "id": "Hc47g0NYXnAvWj92", "name": "Redis account" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": {}
      },
      "id": "2cafbe55-885e-42b3-98ec-9b3098862bdb",
      "name": "12 · Resposta ao Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1168, 128]
    }
  ],
  "pinData": {},
  "connections": {
    "01 · Webhook Evolution API": {
      "main": [[{ "node": "02 · Identificar Unidade e Injetar Contexto", "type": "main", "index": 0 }]]
    },
    "02 · Identificar Unidade e Injetar Contexto": {
      "main": [[{ "node": "03 · Verificar Horário de Silêncio", "type": "main", "index": 0 }]]
    },
    "03 · Verificar Horário de Silêncio": {
      "main": [[{ "node": "04 · Dentro do Horário?", "type": "main", "index": 0 }]]
    },
    "04 · Dentro do Horário?": {
      "main": [
        [{ "node": "05a - Redis", "type": "main", "index": 0 }],
        [{ "node": "04b · Resposta Fora do Horário", "type": "main", "index": 0 }]
      ]
    },
    "04b · Resposta Fora do Horário": {
      "main": [[{ "node": "10a · Instância por unidade", "type": "main", "index": 0 }]]
    },
    "05a - Redis": {
      "main": [[{ "node": "05b - Processar resultado do Redis", "type": "main", "index": 0 }]]
    },
    "05b - Processar resultado do Redis": {
      "main": [[{ "node": "06 · Montar System Prompt com Variáveis", "type": "main", "index": 0 }]]
    },
    "06 · Montar System Prompt com Variáveis": {
      "main": [[{ "node": "07 · Chamar Claude API (Sonnet 4.5)", "type": "main", "index": 0 }]]
    },
    "07 · Chamar Claude API (Sonnet 4.5)": {
      "main": [[{ "node": "08 · Processar Resposta e Detectar Tags", "type": "main", "index": 0 }]]
    },
    "08 · Processar Resposta e Detectar Tags": {
      "main": [[{ "node": "09 · Router de Ação", "type": "main", "index": 0 }]]
    },
    "09 · Router de Ação": {
      "main": [
        [{ "node": "10a · Instância por unidade", "type": "main", "index": 0 }],
        [{ "node": "10 · Notificar Humano (Escalar)", "type": "main", "index": 0 }],
        [{ "node": "10d · Criar Evento Google Calendar", "type": "main", "index": 0 }]
      ]
    },
    "10 · Notificar Humano (Escalar)": {
      "main": [[{ "node": "10a · Instância por unidade", "type": "main", "index": 0 }]]
    },
    "10d · Criar Evento Google Calendar": {
      "main": [[{ "node": "10a · Instância por unidade", "type": "main", "index": 0 }]]
    },
    "10a · Instância por unidade": {
      "main": [[{ "node": "10b · Tem notificação?", "type": "main", "index": 0 }]]
    },
    "10b · Tem notificação?": {
      "main": [
        [{ "node": "10b - HTTP Notificação Humano", "type": "main", "index": 0 }],
        [{ "node": "10c · Enviar Mensagem WhatsApp", "type": "main", "index": 0 }]
      ]
    },
    "10b - HTTP Notificação Humano": {
      "main": [[{ "node": "10c · Enviar Mensagem WhatsApp", "type": "main", "index": 0 }]]
    },
    "10c · Enviar Mensagem WhatsApp": {
      "main": [[{ "node": "11 - Preparar dados para salvar no Redis", "type": "main", "index": 0 }]]
    },
    "11 - Preparar dados para salvar no Redis": {
      "main": [[{ "node": "11a - Redis", "type": "main", "index": 0 }]]
    },
    "11a - Redis": {
      "main": [[{ "node": "12 · Resposta ao Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "instanceId": "c4d99da8257ec53ded114c35a37aa313db75dff041d32faec281d5682c6fde9b"
  },
  "id": "arIDuT9n82KVAfPA",
  "tags": []
}
